
.slick-slide {
  color: white;
  padding: 40px 0;
  font-size: 30px;
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
}

.slick-prev::before,
.slick-next::before {
  color: black;
}
