.tooltip {
	display: inline;
	position: relative;
	z-index: 999;
	opacity: 0;
}

.tooltip-content {
	position: relative;
	font-family: 'open_sansregular';
	z-index: 9999;
	width: 100%;
	bottom:0%;
	left: 0%;
	display: block;
	padding: 20px;
	text-align: center;
	color: #fff;
	opacity: 0;
	z-index: 99;
	pointer-events: none;
	-webkit-transform: scale3d(0.1,0.2,1);
	transform: scale3d(0.1,0.2,1);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, transform 0.4s;
	-webkit-transition-timing-function: ease, cubic-bezier(.18,.46,.05,.85);
	transition-timing-function: ease, cubic-bezier(.18,.46,.05,.85);
}
.founder .tooltip-content{
	background: #b02224;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #b62a26), color-stop(100%, #d84b35));
    background: -webkit-linear-gradient(45deg, #d84b35 0%, #b62a26 100%);
    background: -o-linear-gradient(45deg, #d84b35 0%, #b62a26 100%);
    background: -ms-linear-gradient(45deg, #d84b35 0%, #b62a26 100%);
    background: linear-gradient(45deg, #d84b35 0%, #b62a26 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b62a26', endColorstr='#d84b35',GradientType=1 );
    filter: contrast(115%);
}
.uix .tooltip-content{
    background: #61AD47;
    background: -moz-linear-gradient(45deg, #92c647 0%, #61AD47 99%, #61AD47 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #92c647), color-stop(99%, #61AD47), color-stop(100%, #61AD47));
    background: -webkit-linear-gradient(45deg, #92c647 0%, #61AD47 99%, #61AD47 100%);
    background: -o-linear-gradient(45deg, #92c647 0%, #61AD47 99%, #61AD47 100%);
    background: -ms-linear-gradient(45deg, #92c647 0%, #61AD47 99%, #61AD47 100%);
    background: linear-gradient(45deg, #92c647 0%, #61AD47 99%, #61AD47 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61AD47', endColorstr='#92c647',GradientType=1 );
    filter: contrast(115%);
}
.se .tooltip-content{
    background: #3a71b2;
    background: -moz-linear-gradient(45deg, #53b8ba 0%, #3a71b2 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #53b8ba), color-stop(100%, #3a71b2));
    background: -webkit-linear-gradient(45deg, #53b8ba 0%, #3a71b2 100%);
    background: -o-linear-gradient(45deg, #53b8ba 0%, #3a71b2 100%);
    background: -ms-linear-gradient(45deg, #53b8ba 0%, #3a71b2 100%);
    background: linear-gradient(45deg, #53b8ba 0%, #3a71b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a71b2', endColorstr='#53b8ba',GradientType=1 );
    filter: contrast(115%);
}
.ass-se .tooltip-content{
    background: #e17f35;
    background: -moz-linear-gradient(45deg, #f6c159 0%, #e17f35 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #f6c159), color-stop(100%, #e17f35));
    background: -webkit-linear-gradient(45deg, #f6c159 0%, #e17f35 100%);
    background: -o-linear-gradient(45deg, #f6c159 0%, #e17f35 100%);
    background: -ms-linear-gradient(45deg, #f6c159 0%, #e17f35 100%);
    background: linear-gradient(45deg, #f6c159 0%, #e17f35 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e17f35', endColorstr='#f6c159',GradientType=1 );
    filter: contrast(115%);
}
.tooltip-content h5, .tooltip-content p{
	color: #fff;
}
.tooltip-content p{
	font-size: 15px;
}
.tooltip:hover .tooltip-content {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
}

/* Arrow */

.tooltip-content::after {
	content: '';
	display: none;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 50%;
	margin-left: -8px;
	top: 100%;
	background: #00AEEF;
	-webkit-transform: translate3d(0,-60%,0) rotate3d(0,0,1,45deg);
	transform: translate3d(0,-60%,0) rotate3d(0,0,1,45deg);
}
